[submodule "thirdparty/autodiff"]
	path = thirdparty/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "thirdparty/OpenDRIVE"]
	path = thirdparty/OpenDRIVE
	url = https://github.com/pageldev/libOpenDRIVE.git
[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "thirdparty/common"]
	path = thirdparty/common
	url = https://github.com/sneakyHulk/common.git
[submodule "thirdparty/projection_library"]
	path = thirdparty/projection_library
	url = https://gitlab.lrz.de/providentiaplusplus/projection_library.git
[submodule "thirdparty/boost/throw_exception"]
	path = thirdparty/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "thirdparty/boost/config"]
	path = thirdparty/boost/config
	url = https://github.com/boostorg/config.git
[submodule "thirdparty/boost/assert"]
	path = thirdparty/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "thirdparty/boost/context"]
	path = thirdparty/boost/context
	url = https://github.com/boostorg/context.git
[submodule "thirdparty/boost/asio"]
	path = thirdparty/boost/asio
	url = https://github.com/boostorg/asio.git
[submodule "thirdparty/boost/core"]
	path = thirdparty/boost/core
	url = https://github.com/boostorg/core.git
[submodule "thirdparty/boost/static_assert"]
	path = thirdparty/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "thirdparty/boost/mp11"]
	path = thirdparty/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "thirdparty/boost/pool"]
	path = thirdparty/boost/pool
	url = https://github.com/boostorg/pool.git
[submodule "thirdparty/boost/integer"]
	path = thirdparty/boost/integer
	url = https://github.com/boostorg/integer.git
[submodule "thirdparty/boost/type_traits"]
	path = thirdparty/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "thirdparty/boost/winapi"]
	path = thirdparty/boost/winapi
	url = https://github.com/boostorg/winapi.git
[submodule "thirdparty/boost/predef"]
	path = thirdparty/boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "thirdparty/boost/smart_ptr"]
	path = thirdparty/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
[submodule "thirdparty/boost/move"]
	path = thirdparty/boost/move
	url = https://github.com/boostorg/move.git
[submodule "thirdparty/boost/coroutine"]
	path = thirdparty/boost/coroutine
	url = https://github.com/boostorg/coroutine.git
[submodule "thirdparty/boost/exception"]
	path = thirdparty/boost/exception
	url = https://github.com/boostorg/exception.git
[submodule "thirdparty/boost/system"]
	path = thirdparty/boost/system
	url = https://github.com/boostorg/system.git
[submodule "thirdparty/boost/utility"]
	path = thirdparty/boost/utility
	url = https://github.com/boostorg/utility.git
[submodule "thirdparty/boost/variant2"]
	path = thirdparty/boost/variant2
	url = https://github.com/boostorg/variant2.git
[submodule "thirdparty/boost/io"]
	path = thirdparty/boost/io
	url = https://github.com/boostorg/io.git
[submodule "thirdparty/boost/preprocessor"]
	path = thirdparty/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "thirdparty/boost/tuple"]
	path = thirdparty/boost/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "thirdparty/boost/align"]
	path = thirdparty/boost/align
	url = https://github.com/boostorg/align.git
[submodule "thirdparty/boost/date_time"]
	path = thirdparty/boost/date_time
	url = https://github.com/boostorg/date_time.git
[submodule "thirdparty/boost/algorithm"]
	path = thirdparty/boost/algorithm
	url = https://github.com/boostorg/algorithm.git
[submodule "thirdparty/boost/lexical_cast"]
	path = thirdparty/boost/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
[submodule "thirdparty/boost/numeric_conversion"]
	path = thirdparty/boost/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion.git
[submodule "thirdparty/boost/range"]
	path = thirdparty/boost/range
	url = https://github.com/boostorg/range.git
[submodule "thirdparty/boost/tokenizer"]
	path = thirdparty/boost/tokenizer
	url = https://github.com/boostorg/tokenizer.git
[submodule "thirdparty/boost/array"]
	path = thirdparty/boost/array
	url = https://github.com/boostorg/array.git
[submodule "thirdparty/boost/bind"]
	path = thirdparty/boost/bind
	url = https://github.com/boostorg/bind.git
[submodule "thirdparty/boost/concept_check"]
	path = thirdparty/boost/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "thirdparty/boost/function"]
	path = thirdparty/boost/function
	url = https://github.com/boostorg/function.git
[submodule "thirdparty/boost/iterator"]
	path = thirdparty/boost/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "thirdparty/boost/mpl"]
	path = thirdparty/boost/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "thirdparty/boost/regex"]
	path = thirdparty/boost/regex
	url = https://github.com/boostorg/regex.git
[submodule "thirdparty/boost/unordered"]
	path = thirdparty/boost/unordered
	url = https://github.com/boostorg/unordered.git
[submodule "thirdparty/boost/container"]
	path = thirdparty/boost/container
	url = https://github.com/boostorg/container.git
[submodule "thirdparty/boost/conversion"]
	path = thirdparty/boost/conversion
	url = https://github.com/boostorg/conversion.git
[submodule "thirdparty/boost/container_hash"]
	path = thirdparty/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "thirdparty/boost/detail"]
	path = thirdparty/boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "thirdparty/boost/optional"]
	path = thirdparty/boost/optional
	url = https://github.com/boostorg/optional.git
[submodule "thirdparty/boost/function_types"]
	path = thirdparty/boost/function_types
	url = https://github.com/boostorg/function_types.git
[submodule "thirdparty/boost/fusion"]
	path = thirdparty/boost/fusion
	url = https://github.com/boostorg/fusion.git
[submodule "thirdparty/boost/intrusive"]
	path = thirdparty/boost/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "thirdparty/boost/describe"]
	path = thirdparty/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "thirdparty/boost/typeof"]
	path = thirdparty/boost/typeof
	url = https://github.com/boostorg/typeof.git
[submodule "thirdparty/boost/functional"]
	path = thirdparty/boost/functional
	url = https://github.com/boostorg/functional.git
[submodule "thirdparty/boost/circular_buffer"]
	path = thirdparty/boost/circular_buffer
	url = https://github.com/boostorg/circular_buffer.git
[submodule "thirdparty/yas"]
	path = thirdparty/yas
	url = https://github.com/niXman/yas.git
[submodule "thirdparty/boost/geometry"]
	path = thirdparty/boost/geometry
	url = https://github.com/boostorg/geometry.git
[submodule "thirdparty/boost/any"]
	path = thirdparty/boost/any
	url = https://github.com/boostorg/any.git
[submodule "thirdparty/boost/type_index"]
	path = thirdparty/boost/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "thirdparty/boost/math"]
	path = thirdparty/boost/math
	url = https://github.com/boostorg/math.git
[submodule "thirdparty/boost/multiprecision"]
	path = thirdparty/boost/multiprecision
	url = https://github.com/boostorg/multiprecision.git
[submodule "thirdparty/boost/qvm"]
	path = thirdparty/boost/qvm
	url = https://github.com/boostorg/qvm.git
[submodule "thirdparty/boost/rational"]
	path = thirdparty/boost/rational
	url = https://github.com/boostorg/rational.git
[submodule "thirdparty/boost/variant"]
	path = thirdparty/boost/variant
	url = https://github.com/boostorg/variant.git
[submodule "thirdparty/boost/serialization"]
	path = thirdparty/boost/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "thirdparty/boost/spirit"]
	path = thirdparty/boost/spirit
	url = https://github.com/boostorg/spirit.git
[submodule "thirdparty/boost/endian"]
	path = thirdparty/boost/endian
	url = https://github.com/boostorg/endian.git
[submodule "thirdparty/boost/phoenix"]
	path = thirdparty/boost/phoenix
	url = https://github.com/boostorg/phoenix.git
[submodule "thirdparty/boost/proto"]
	path = thirdparty/boost/proto
	url = https://github.com/boostorg/proto.git
[submodule "thirdparty/boost/thread"]
	path = thirdparty/boost/thread
	url = https://github.com/boostorg/thread.git
[submodule "thirdparty/boost/atomic"]
	path = thirdparty/boost/atomic
	url = https://github.com/boostorg/atomic.git
[submodule "thirdparty/boost/chrono"]
	path = thirdparty/boost/chrono
	url = https://github.com/boostorg/chrono.git
[submodule "thirdparty/boost/ratio"]
	path = thirdparty/boost/ratio
	url = https://github.com/boostorg/ratio.git
[submodule "thirdparty/tumtraf"]
	path = thirdparty/tumtraf
	url = https://github.com/tum-traffic-dataset/tum-traffic-dataset-dev-kit.git
[submodule "thirdparty/bytetrack"]
	path = thirdparty/bytetrack
	url = https://github.com/Vertical-Beach/ByteTrack-cpp.git
[submodule "thirdparty/boost/multi_index"]
	path = thirdparty/boost/multi_index
	url = https://github.com/boostorg/multi_index.git
[submodule "thirdparty/concurra"]
	path = thirdparty/concurra
	url = https://github.com/sneakyHulk/concurra.git
