[submodule "thirdparty/autodiff"]
	path = thirdparty/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "thirdparty/OpenDRIVE"]
	path = thirdparty/OpenDRIVE
	url = https://github.com/pageldev/libOpenDRIVE.git
[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/common"]
	path = thirdparty/common
	url = https://github.com/sneakyHulk/common.git
[submodule "thirdparty/projection_library"]
	path = thirdparty/projection_library
	url = https://gitlab.lrz.de/providentiaplusplus/projection_library.git
