[submodule "thirdparty/autodiff"]
	path = thirdparty/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "thirdparty/OpenDRIVE"]
	path = thirdparty/OpenDRIVE
	url = https://github.com/pageldev/libOpenDRIVE.git
[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "thirdparty/common"]
	path = thirdparty/common
	url = https://github.com/sneakyHulk/common.git
[submodule "thirdparty/projection_library"]
	path = thirdparty/projection_library
	url = https://gitlab.lrz.de/providentiaplusplus/projection_library.git
[submodule "thirdparty/yas"]
	path = thirdparty/yas
	url = https://github.com/niXman/yas.git
[submodule "thirdparty/tumtraf"]
	path = thirdparty/tumtraf
	url = https://github.com/tum-traffic-dataset/tum-traffic-dataset-dev-kit.git
[submodule "thirdparty/bytetrack"]
	path = thirdparty/bytetrack
	url = https://github.com/Vertical-Beach/ByteTrack-cpp.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/boostorg/boost.git
[submodule "thirdparty/concurra"]
	path = thirdparty/concurra
	url = https://github.com/sneakyHulk/concurra.git
